<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test Task GUP</title>
	<link rel="stylesheet" href="static/front/css/style.css">
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWVVqSXLIYnEo-6rj_ytIFUKOg_wus0Vs"></script>
</head>
<body>
	<header>
		<div class="container-header">
			<div class="container-form">
				<form>
					<input type="text" class="form-title" placeholder="Назва">
					<input type="text" class="form-info" placeholder="Інфо">
					<input class="form-xcoord" placeholder="Широта (хх.ххххх)">
					<input class="form-ycoord" placeholder="Довгота (хх.ххххх)">
					<a><button class="add_post"> Здати в оренду </button></a>
				</form>
			</div>
		</div>
	</header>
<div class=" posts">
	<div class="wrapper">
		<div class="post_list">

		</div>
	</div>
</div>
<div class="container-map">
<div class="map" id="map">

</div>
</div>


	<script src="static/front/js/script.js"></script>

</body>
</html>
